<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<head>
    <title>List of Surveys</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <!--    <link rel="stylesheet" th:href="@{style/cssANDjs/teamList.css}"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header>
    <!--    <div class="logInfo">-->
    <!--        <p>[[${#httpServletRequest.remoteUser}]]</p>-->
    <!--        <form th:action="@{/logout}" method="post">-->
    <!--            <input type="submit" value="Logout" class="header-btn logout-btn"/>-->
    <!--        </form>-->
    <!--    </div>-->
</header>
<div class="main">
    <h2 th:text="${question.getSurvey().getSurveyDesc()}"></h2>
    	<form method="post" th:object="${uAnswer}" th:action="@{/saveresponse}" action="#" >  
	        <p th:text="${question.getQuestion()}"></p>
	        <div class="radio" th:each="answer : ${question.getAnswers()}">
			  <label>
			    <input type="radio" th:value="${answer.answerID}" th:text=" ${answer.getAnswer()}" >
			    <input type="hidden" th:field="${uAnswer.userAnswerID}"/>
			    <input type="hidden" th:field="${uAnswer.answer.answerID}"/>

			  </label> 
		    </div>
		    <input type="submit" value="Save and go to next question" />
		  
	    </form>

</div>
</body>